In [8]:
%pip install -q pandas numpy
%pip install numpy

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\ustin\appdata\local\programs\python\python310\lib\site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('logs.csv')
data.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [11]:
data.isna().sum()

user_id          0
source        1674
email       186047
purchase         0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [13]:
data_gb_ui = data.groupby('user_id')

In [14]:
data['purchase'] = data['purchase'].astype[bool]

TypeError: 'method' object is not subscriptable

In [ ]:
data[data['source'].isnal]

In [ ]:
data['sourse'] =

In [ ]:
avoid_ = 0
unique_install