In [50]:
import numpy as np
import pandas as pd

In [51]:
data = pd.read_csv('insurance - insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [52]:
X = data[['bmi']].values
y = data[['charges']].values

In [53]:
column = data['region']
print (column)

0       southwest
1       southeast
2       southeast
3       northwest
4       northwest
          ...
1333    northwest
1334    northeast
1335    southeast
1336    southwest
1337    northwest
Name: region, Length: 1338, dtype: object

In [54]:
data['sex'] = data["sex"].str.replace('female','0')
data['sex'] = data["sex"].str.replace('male','1')

data['smoker'] = data["smoker"].str.replace('yes','1')
data['smoker'] = data["smoker"].str.replace('no','0')

data['region'] = data["region"].str.replace('northwest','1')
data['region'] = data["region"].str.replace('southwest','0')

data['region'] = data["region"].str.replace('southeast','2')
data['region'] = data["region"].str.replace('northeast','3')

In [55]:
data.head()

   age sex     bmi  children smoker region      charges
0   19   0  27.900         0      1      0  16884.92400
1   18   1  33.770         1      0      2   1725.55230
2   28   1  33.000         3      0      2   4449.46200
3   33   1  22.705         0      0      1  21984.47061
4   32   1  28.880         0      0      1   3866.85520

In [56]:
def normalize(data):
    data = [float(x) for x in data if x.replace('.', '', 1).isdigit()] 
    mean = np.mean(data)
    std = np.std(data)
    normalized_data = (data - mean) / std
    return normalized_data


data = ["age","sex","bmi","children", "smoker", "region" , "charges"]
normalized_data = normalize(data)
print(normalized_data)

[]

c:\Users\Ustin\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\Ustin\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\_methods.py:190: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
c:\Users\Ustin\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\_methods.py:265: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
c:\Users\Ustin\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\_methods.py:223: RuntimeWarning: invalid value encountered in divide
  arrmean = um.true_divide(arrmean, div, out=arrmean, casting='unsafe',
c:\Users\Ustin\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\_methods.py:257: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)